body {
  background-image: url("./wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.logo {
  background-color: rgb(141, 133, 228);
  display: inline-block;
  overflow: hidden;
  width: 5rem;
  text-align: center;
  margin: 1rem 1rem;
  border-radius: 0.4rem;
  color: white;
}
